.card {
    border-radius: 10px;
  }
  
  .modal-content {
    border-radius: 10px;
  }
  
  .list-group-item {
    transition: all 0.3s ease-in-out;
  }
  
  .list-group-item:hover {
    background-color: #f8f9fa;
  }
  